.mr-color-green {
  color: #00A000;
}

.mr-color-red {
  color: #e4001d;
}

.mr-color-seryj {
  color: #7c7c7c;
}

.mr-color-gold {
  color: #e49c1c;
}

.mr-bg-blue {
  background-color: #22defc;
}
.mr-bg-red {
  background-color: #cc110d;
}

.mr-bg-head {
  background-image: url("/public/images/other/bg-btn.jpg");
}

.mr-bg-btn-body {
  background-image: url("/public/images/other/bg-btn.jpg");
  font-weight: bold;
}

.mr-color-green-dark {
  color: #005e00;
}

.mr-color-white {
  color: #ffffff;
}

.mr-border-radius-5 {
  border-radius: 5px;
}

.mr-border-radius-10 {
  border-radius: 10px;
}

.mr-color-black {
  color: black;
}

.mr-bg-footer{
  background-color: rgba(243, 230, 197, 0.4);
}

.mr-bg-founded{
  background-color: rgba(48, 40, 255, 0.1);
}

.mr-color-dark-blue {
  color: #0c175b;
}